REPS.UI/Service References/OrganizationServiceReference/OrganizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrganizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54738/OrganizationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54738/OrganizationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54738/OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:54738/OrganizationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrganizationService_GetOrganisationTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganisationTypes" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetOrganisationTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganisationTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetOrganisation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganisation" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_GetOrganisation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganisationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_AddOrganisation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrganisation" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_AddOrganisation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrganisationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_UpdateOrganisation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganisation" />
  </wsdl:message>
  <wsdl:message name="IOrganizationService_UpdateOrganisation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganisationResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrganizationService">
    <wsdl:operation name="GetOrganisationTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetOrganisationTypes" message="tns:IOrganizationService_GetOrganisationTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetOrganisationTypesResponse" message="tns:IOrganizationService_GetOrganisationTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganisation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/GetOrganisation" message="tns:IOrganizationService_GetOrganisation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/GetOrganisationResponse" message="tns:IOrganizationService_GetOrganisation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrganisation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/AddOrganisation" message="tns:IOrganizationService_AddOrganisation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/AddOrganisationResponse" message="tns:IOrganizationService_AddOrganisation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganisation">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganizationService/UpdateOrganisation" message="tns:IOrganizationService_UpdateOrganisation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganizationService/UpdateOrganisationResponse" message="tns:IOrganizationService_UpdateOrganisation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="OrganizationService" />
</wsdl:definitions>