REPS.UI/Service References/AddressServiceReference/AddressService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54738/AddressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:import schemaLocation="http://localhost:54738/AddressService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" />
  <xs:element name="GetAddressesTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressTypeId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startRow" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="endRow" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAddressesTypesResult" nillable="true" type="q1:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="participantId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="addressId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startRow" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="endRow" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAddressResult" nillable="true" type="q2:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="obj" nillable="true" type="q3:Address" />
        <xs:element minOccurs="0" name="dealID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="AddAddressResult" nillable="true" type="q4:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="obj" nillable="true" type="q5:Address" />
        <xs:element minOccurs="0" name="dealID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="UpdateAddressResult" nillable="true" type="q6:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="obj" nillable="true" type="q7:Address" />
        <xs:element minOccurs="0" name="dealID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="DeleteAddressResult" nillable="true" type="q8:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressIDByAddressGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressIDByAddressGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAddressIDByAddressGUIDResult" nillable="true" type="q9:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>