REPS.UI/Service References/PropertyServiceReference/PropertyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PropertyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54738/PropertyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54738/PropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54738/PropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:54738/PropertyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPropertyService_GetProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProperties" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertyTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyTypes" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertyTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetSizeTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSizeTypes" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetSizeTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSizeTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_AddProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_AddProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_AddPropertyDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPropertyDetail" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_AddPropertyDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPropertyDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertyDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyDetails" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertyDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UpdateProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UpdateProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UpdatePropertyDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertyDetail" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_UpdatePropertyDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePropertyDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_DeleteProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertyIDByPropertyGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyIDByPropertyGUID" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertyIDByPropertyGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyIDByPropertyGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertyDetailIDByPropertyDetailGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyDetailIDByPropertyDetailGUID" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetPropertyDetailIDByPropertyDetailGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyDetailIDByPropertyDetailGUIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IPropertyService">
    <wsdl:operation name="GetProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetProperties" message="tns:IPropertyService_GetProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPropertiesResponse" message="tns:IPropertyService_GetProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertyTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyTypes" message="tns:IPropertyService_GetPropertyTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyTypesResponse" message="tns:IPropertyService_GetPropertyTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSizeTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetSizeTypes" message="tns:IPropertyService_GetSizeTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetSizeTypesResponse" message="tns:IPropertyService_GetSizeTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/AddProperty" message="tns:IPropertyService_AddProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/AddPropertyResponse" message="tns:IPropertyService_AddProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPropertyDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/AddPropertyDetail" message="tns:IPropertyService_AddPropertyDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/AddPropertyDetailResponse" message="tns:IPropertyService_AddPropertyDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertyDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyDetails" message="tns:IPropertyService_GetPropertyDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyDetailsResponse" message="tns:IPropertyService_GetPropertyDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/UpdateProperty" message="tns:IPropertyService_UpdateProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/UpdatePropertyResponse" message="tns:IPropertyService_UpdateProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePropertyDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/UpdatePropertyDetail" message="tns:IPropertyService_UpdatePropertyDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/UpdatePropertyDetailResponse" message="tns:IPropertyService_UpdatePropertyDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/DeleteProperty" message="tns:IPropertyService_DeleteProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/DeletePropertyResponse" message="tns:IPropertyService_DeleteProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertyIDByPropertyGUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyIDByPropertyGUID" message="tns:IPropertyService_GetPropertyIDByPropertyGUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyIDByPropertyGUIDResponse" message="tns:IPropertyService_GetPropertyIDByPropertyGUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPropertyDetailIDByPropertyDetailGUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyDetailIDByPropertyDetailGUID" message="tns:IPropertyService_GetPropertyDetailIDByPropertyDetailGUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetPropertyDetailIDByPropertyDetailGUIDResponse" message="tns:IPropertyService_GetPropertyDetailIDByPropertyDetailGUID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PropertyService" />
</wsdl:definitions>