REPS.UI/Service References/PersonServiceReference/PersonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54738/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" />
  <xs:import schemaLocation="http://localhost:54738/PersonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="objParticipant" nillable="true" type="q1:Participant" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="obj" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="AddPersonResult" nillable="true" type="q3:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="participantObj" nillable="true" type="q4:Participant" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="obj" nillable="true" type="q5:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="UpdatePersonResult" nillable="true" type="q6:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>