REPS.UI/Service References/ReportServiceReference/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54738/ReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54738/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54738/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:54738/ReportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_GetReportNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportNames" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReports" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportFilters" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReportFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetDropDownFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDropDownFilters" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetDropDownFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDropDownFiltersResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="GetReportNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReportNames" message="tns:IReportService_GetReportNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportNamesResponse" message="tns:IReportService_GetReportNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReports" message="tns:IReportService_GetReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportsResponse" message="tns:IReportService_GetReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReportFilters" message="tns:IReportService_GetReportFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportFiltersResponse" message="tns:IReportService_GetReportFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDropDownFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetDropDownFilters" message="tns:IReportService_GetDropDownFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetDropDownFiltersResponse" message="tns:IReportService_GetDropDownFilters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ReportService" />
</wsdl:definitions>