REPS.UI/Service References/DashboardServiceReference/DashboardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CValidator">
    <xs:sequence>
      <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="output" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CValidator" nillable="true" type="tns:CValidator" />
</xs:schema>