REPS.UI/Service References/EntityServiceReference/EntityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54738/EntityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54738/EntityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54738/EntityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:54738/EntityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityService_GetEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntities" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_AddEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_AddEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_UpdateEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_UpdateEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntityIDByEntityGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityIDByEntityGUID" />
  </wsdl:message>
  <wsdl:message name="IEntityService_GetEntityIDByEntityGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityIDByEntityGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_DeleteEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_DeleteEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RemoveUserFromDeletedEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromDeletedEntity" />
  </wsdl:message>
  <wsdl:message name="IEntityService_RemoveUserFromDeletedEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromDeletedEntityResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntityService">
    <wsdl:operation name="GetEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/GetEntities" message="tns:IEntityService_GetEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GetEntitiesResponse" message="tns:IEntityService_GetEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/AddEntity" message="tns:IEntityService_AddEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/AddEntityResponse" message="tns:IEntityService_AddEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/UpdateEntity" message="tns:IEntityService_UpdateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/UpdateEntityResponse" message="tns:IEntityService_UpdateEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityIDByEntityGUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/GetEntityIDByEntityGUID" message="tns:IEntityService_GetEntityIDByEntityGUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GetEntityIDByEntityGUIDResponse" message="tns:IEntityService_GetEntityIDByEntityGUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/DeleteEntity" message="tns:IEntityService_DeleteEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/DeleteEntityResponse" message="tns:IEntityService_DeleteEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromDeletedEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/RemoveUserFromDeletedEntity" message="tns:IEntityService_RemoveUserFromDeletedEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/RemoveUserFromDeletedEntityResponse" message="tns:IEntityService_RemoveUserFromDeletedEntity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="EntityService" />
</wsdl:definitions>