REPS.UI/Service References/EntityServiceReference/EntityService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54738/EntityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="AlternateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankorCreditUnion" nillable="true" type="tns:ArrayOfBankorCreditUnion" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="DataVerification" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LegalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ParentEntityID" type="xs:int" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" type="xs:decimal" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="UserDocument" nillable="true" type="tns:ArrayOfUserDocument" />
      <xs:element minOccurs="0" name="VatID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
  <xs:complexType name="ArrayOfBankorCreditUnion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankorCreditUnion" nillable="true" type="tns:BankorCreditUnion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankorCreditUnion" nillable="true" type="tns:ArrayOfBankorCreditUnion" />
  <xs:complexType name="BankorCreditUnion">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankID" type="xs:int" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="tns:Entity" />
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
      <xs:element minOccurs="0" name="Participant" nillable="true" type="tns:ArrayOfParticipant" />
      <xs:element minOccurs="0" name="ParticipantBankDetail" nillable="true" type="tns:ArrayOfParticipantBankDetail" />
      <xs:element minOccurs="0" name="SwiftCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniversalSortCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankorCreditUnion" nillable="true" type="tns:BankorCreditUnion" />
  <xs:complexType name="ArrayOfParticipant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participant" nillable="true" type="tns:Participant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipant" nillable="true" type="tns:ArrayOfParticipant" />
  <xs:complexType name="Participant">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BankID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BankorCreditUnion" nillable="true" type="tns:BankorCreditUnion" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deal" nillable="true" type="tns:Deal" />
      <xs:element minOccurs="0" name="DealID" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FinancialObligation" nillable="true" type="tns:ArrayOfFinancialObligation" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="tns:Organization" />
      <xs:element minOccurs="0" name="OrganizationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParticipantBankDetail" nillable="true" type="tns:ArrayOfParticipantBankDetail" />
      <xs:element minOccurs="0" name="ParticipantGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ParticipantID" type="xs:int" />
      <xs:element minOccurs="0" name="ParticipantRole" nillable="true" type="tns:ParticipantRole" />
      <xs:element minOccurs="0" name="ParticipantRoleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParticipantType" nillable="true" type="tns:ParticipantType" />
      <xs:element minOccurs="0" name="ParticipantTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserDocument" nillable="true" type="tns:ArrayOfUserDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participant" nillable="true" type="tns:Participant" />
  <xs:complexType name="Deal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alerts" nillable="true" type="tns:ArrayOfAlerts" />
      <xs:element minOccurs="0" name="ClientReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompletionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DealID" type="xs:int" />
      <xs:element minOccurs="0" name="DealProcessTaskID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DealType" nillable="true" type="tns:DealType" />
      <xs:element minOccurs="0" name="DealTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="FinancialTransaction" nillable="true" type="tns:ArrayOfFinancialTransaction" />
      <xs:element minOccurs="0" name="Participant" nillable="true" type="tns:ArrayOfParticipant" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:ArrayOfTransaction" />
      <xs:element minOccurs="0" name="UniqueReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserDeal" nillable="true" type="tns:ArrayOfUserDeal" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkflowTaskID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deal" nillable="true" type="tns:Deal" />
  <xs:complexType name="ArrayOfAlerts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alerts" nillable="true" type="tns:Alerts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlerts" nillable="true" type="tns:ArrayOfAlerts" />
  <xs:complexType name="Alerts">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertStatus" nillable="true" type="tns:AlertStatus" />
      <xs:element minOccurs="0" name="AlertType" nillable="true" type="tns:AlertType" />
      <xs:element minOccurs="0" name="AlertTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AlertsGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByUserID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deal" nillable="true" type="tns:Deal" />
      <xs:element minOccurs="0" name="DealID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alerts" nillable="true" type="tns:Alerts" />
  <xs:complexType name="AlertStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alerts" nillable="true" type="tns:ArrayOfAlerts" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertStatus" nillable="true" type="tns:AlertStatus" />
  <xs:complexType name="AlertType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alerts" nillable="true" type="tns:ArrayOfAlerts" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertType" nillable="true" type="tns:AlertType" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alerts" nillable="true" type="tns:ArrayOfAlerts" />
      <xs:element minOccurs="0" name="AspNetUsersId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Audit" nillable="true" type="tns:ArrayOfAudit" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deal" nillable="true" type="tns:ArrayOfDeal" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="tns:Entity" />
      <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GivenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeaderTabToggle" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="tns:JobTitle" />
      <xs:element minOccurs="0" name="JobTitleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PassportCountryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TitleID" type="xs:int" />
      <xs:element minOccurs="0" name="TokenId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDeal" nillable="true" type="tns:ArrayOfUserDeal" />
      <xs:element minOccurs="0" name="UserDocument" nillable="true" type="tns:ArrayOfUserDocument" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:ArrayOfUserRole" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
      <xs:element minOccurs="0" name="WorkflowID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAudit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Audit" nillable="true" type="tns:Audit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAudit" nillable="true" type="tns:ArrayOfAudit" />
  <xs:complexType name="Audit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuditDetail" nillable="true" type="tns:ArrayOfAuditDetail" />
      <xs:element minOccurs="0" name="AuditID" type="xs:long" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Audit" nillable="true" type="tns:Audit" />
  <xs:complexType name="ArrayOfAuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditDetail" nillable="true" type="tns:AuditDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditDetail" nillable="true" type="tns:ArrayOfAuditDetail" />
  <xs:complexType name="AuditDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Audit" nillable="true" type="tns:Audit" />
      <xs:element minOccurs="0" name="AuditDetailID" type="xs:long" />
      <xs:element minOccurs="0" name="AuditID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Column" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditDetail" nillable="true" type="tns:AuditDetail" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISOCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="RegistrarApi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="tns:AddressType" />
      <xs:element minOccurs="0" name="AddressTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParticipantID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="tns:Province" />
      <xs:element minOccurs="0" name="ProvinceID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="AddressTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressType" nillable="true" type="tns:AddressType" />
  <xs:complexType name="ArrayOfProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" nillable="true" type="tns:Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProperty" nillable="true" type="tns:ArrayOfProperty" />
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deal" nillable="true" type="tns:Deal" />
      <xs:element minOccurs="0" name="DealID" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LegalDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyDetail" nillable="true" type="tns:ArrayOfPropertyDetail" />
      <xs:element minOccurs="0" name="PropertyGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PropertyID" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyType" nillable="true" type="tns:PropertyType" />
      <xs:element minOccurs="0" name="PropertyTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:complexType name="ArrayOfPropertyDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyDetail" nillable="true" type="tns:PropertyDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyDetail" nillable="true" type="tns:ArrayOfPropertyDetail" />
  <xs:complexType name="PropertyDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Geo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:Property" />
      <xs:element minOccurs="0" name="PropertyDetailGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PropertyDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyID" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDivision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RightTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SectionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SizeType" nillable="true" type="tns:SizeType" />
      <xs:element minOccurs="0" name="SizeTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Township" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitNumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyDetail" nillable="true" type="tns:PropertyDetail" />
  <xs:complexType name="SizeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyDetail" nillable="true" type="tns:ArrayOfPropertyDetail" />
      <xs:element minOccurs="0" name="SizeTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SizeType" nillable="true" type="tns:SizeType" />
  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:ArrayOfProperty" />
      <xs:element minOccurs="0" name="PropertyTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyType" nillable="true" type="tns:PropertyType" />
  <xs:complexType name="Province">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ArrayOfAddress" />
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Province" nillable="true" type="tns:Province" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="GivenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityType" nillable="true" type="tns:IdentityType" />
      <xs:element minOccurs="0" name="IdentityTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="tns:JobTitle" />
      <xs:element minOccurs="0" name="JobTitleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="tns:Organization" />
      <xs:element minOccurs="0" name="OrganizationID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PassportCountryID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonID" type="xs:int" />
      <xs:element minOccurs="0" name="TaxID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="tns:Title" />
      <xs:element minOccurs="0" name="TitleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="IdentityType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:ArrayOfPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentityType" nillable="true" type="tns:IdentityType" />
  <xs:complexType name="JobTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobTitleID" type="xs:int" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobTitle" nillable="true" type="tns:JobTitle" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Organization">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LegalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationID" type="xs:int" />
      <xs:element minOccurs="0" name="OrganizationType" nillable="true" type="tns:OrganizationType" />
      <xs:element minOccurs="0" name="OrganizationTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Participant" nillable="true" type="tns:ArrayOfParticipant" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" type="xs:decimal" />
      <xs:element minOccurs="0" name="VatID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organization" nillable="true" type="tns:Organization" />
  <xs:complexType name="OrganizationType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="tns:ArrayOfOrganization" />
      <xs:element minOccurs="0" name="OrganizationTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationType" nillable="true" type="tns:OrganizationType" />
  <xs:complexType name="ArrayOfOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Organization" nillable="true" type="tns:Organization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganization" nillable="true" type="tns:ArrayOfOrganization" />
  <xs:complexType name="Title">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="TitleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Title" nillable="true" type="tns:Title" />
  <xs:complexType name="ArrayOfDeal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deal" nillable="true" type="tns:Deal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeal" nillable="true" type="tns:ArrayOfDeal" />
  <xs:complexType name="ArrayOfUserDeal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDeal" nillable="true" type="tns:UserDeal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDeal" nillable="true" type="tns:ArrayOfUserDeal" />
  <xs:complexType name="UserDeal">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deal" nillable="true" type="tns:Deal" />
      <xs:element minOccurs="0" name="DealID" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastViewName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRoleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDeal" nillable="true" type="tns:UserDeal" />
  <xs:complexType name="ArrayOfUserDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDocument" nillable="true" type="tns:UserDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDocument" nillable="true" type="tns:ArrayOfUserDocument" />
  <xs:complexType name="UserDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentID" type="xs:long" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity" nillable="true" type="tns:Entity" />
      <xs:element minOccurs="0" name="EntityID" type="xs:int" />
      <xs:element minOccurs="0" name="FileContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MimeType" nillable="true" type="tns:MimeType" />
      <xs:element minOccurs="0" name="MimeTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Participant" nillable="true" type="tns:Participant" />
      <xs:element minOccurs="0" name="ParticipantID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDocument" nillable="true" type="tns:UserDocument" />
  <xs:complexType name="MimeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MimeTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="UserDocument" nillable="true" type="tns:ArrayOfUserDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MimeType" nillable="true" type="tns:MimeType" />
  <xs:complexType name="ArrayOfUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRole" nillable="true" type="tns:ArrayOfUserRole" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRoleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:ArrayOfUserRole" />
      <xs:element minOccurs="0" name="UserRoleAction" nillable="true" type="tns:ArrayOfUserRoleAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfUserRoleAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoleAction" nillable="true" type="tns:UserRoleAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRoleAction" nillable="true" type="tns:ArrayOfUserRoleAction" />
  <xs:complexType name="UserRoleAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="UserAction" nillable="true" type="tns:UserAction" />
      <xs:element minOccurs="0" name="UserActionID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRoleActionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRoleAction" nillable="true" type="tns:UserRoleAction" />
  <xs:complexType name="UserAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsoluteUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserActionID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRoleAction" nillable="true" type="tns:ArrayOfUserRoleAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAction" nillable="true" type="tns:UserAction" />
  <xs:complexType name="DealType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deal" nillable="true" type="tns:ArrayOfDeal" />
      <xs:element minOccurs="0" name="DealTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DealType" nillable="true" type="tns:DealType" />
  <xs:complexType name="ArrayOfFinancialTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialTransaction" nillable="true" type="tns:FinancialTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialTransaction" nillable="true" type="tns:ArrayOfFinancialTransaction" />
  <xs:complexType name="FinancialTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deal" nillable="true" type="tns:Deal" />
      <xs:element minOccurs="0" name="DealID" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="FinancialInstrument" nillable="true" type="tns:FinancialInstrument" />
      <xs:element minOccurs="0" name="FinancialTransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="InstrumentID" type="xs:int" />
      <xs:element minOccurs="0" name="ObligationID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialTransaction" nillable="true" type="tns:FinancialTransaction" />
  <xs:complexType name="FinancialInstrument">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Deposit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FinancialTransaction" nillable="true" type="tns:ArrayOfFinancialTransaction" />
      <xs:element minOccurs="0" name="InstrumentGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="InstrumentID" type="xs:int" />
      <xs:element minOccurs="0" name="InstrumentType" nillable="true" type="tns:InstrumentType" />
      <xs:element minOccurs="0" name="InstrumentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestType" nillable="true" type="tns:InterestType" />
      <xs:element minOccurs="0" name="InterestTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="LenderID" type="xs:int" />
      <xs:element minOccurs="0" name="Lenders" nillable="true" type="tns:Lenders" />
      <xs:element minOccurs="0" name="ParticipantID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Term" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialInstrument" nillable="true" type="tns:FinancialInstrument" />
  <xs:complexType name="InstrumentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialInstrument" nillable="true" type="tns:ArrayOfFinancialInstrument" />
      <xs:element minOccurs="0" name="FinancialInstrumentDetail" nillable="true" type="tns:ArrayOfFinancialInstrumentDetail" />
      <xs:element minOccurs="0" name="InstrumentTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstrumentType" nillable="true" type="tns:InstrumentType" />
  <xs:complexType name="ArrayOfFinancialInstrument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialInstrument" nillable="true" type="tns:FinancialInstrument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialInstrument" nillable="true" type="tns:ArrayOfFinancialInstrument" />
  <xs:complexType name="ArrayOfFinancialInstrumentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialInstrumentDetail" nillable="true" type="tns:FinancialInstrumentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialInstrumentDetail" nillable="true" type="tns:ArrayOfFinancialInstrumentDetail" />
  <xs:complexType name="FinancialInstrumentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyType" nillable="true" type="tns:CurrencyType" />
      <xs:element minOccurs="0" name="CurrencyTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="InstrumentDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="InstrumentID" type="xs:int" />
      <xs:element minOccurs="0" name="InstrumentType" nillable="true" type="tns:InstrumentType" />
      <xs:element minOccurs="0" name="InstrumentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="InterestType" nillable="true" type="tns:InterestType" />
      <xs:element minOccurs="0" name="InterestTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="InterestVariation" nillable="true" type="tns:InterestVariation" />
      <xs:element minOccurs="0" name="InterestVariationID" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialInstrumentDetail" nillable="true" type="tns:FinancialInstrumentDetail" />
  <xs:complexType name="CurrencyType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingRateDetail" nillable="true" type="tns:ArrayOfBillingRateDetail" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="FinancialInstrumentDetail" nillable="true" type="tns:ArrayOfFinancialInstrumentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyType" nillable="true" type="tns:CurrencyType" />
  <xs:complexType name="ArrayOfBillingRateDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingRateDetail" nillable="true" type="tns:BillingRateDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingRateDetail" nillable="true" type="tns:ArrayOfBillingRateDetail" />
  <xs:complexType name="BillingRateDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingRateDetailID" type="xs:long" />
      <xs:element minOccurs="0" name="CurrencyID" type="xs:int" />
      <xs:element minOccurs="0" name="CurrencyType" nillable="true" type="tns:CurrencyType" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="TierNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingRateDetail" nillable="true" type="tns:BillingRateDetail" />
  <xs:complexType name="InterestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialInstrument" nillable="true" type="tns:ArrayOfFinancialInstrument" />
      <xs:element minOccurs="0" name="FinancialInstrumentDetail" nillable="true" type="tns:ArrayOfFinancialInstrumentDetail" />
      <xs:element minOccurs="0" name="FinancialObligation" nillable="true" type="tns:ArrayOfFinancialObligation" />
      <xs:element minOccurs="0" name="InterestTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterestType" nillable="true" type="tns:InterestType" />
  <xs:complexType name="ArrayOfFinancialObligation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialObligation" nillable="true" type="tns:FinancialObligation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialObligation" nillable="true" type="tns:ArrayOfFinancialObligation" />
  <xs:complexType name="FinancialObligation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="AccountNumber" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="FinancialObligation1" nillable="true" type="tns:FinancialObligation" />
      <xs:element minOccurs="0" name="FinancialObligation2" nillable="true" type="tns:FinancialObligation" />
      <xs:element minOccurs="0" name="FinancialObligationDetail" nillable="true" type="tns:ArrayOfFinancialObligationDetail" />
      <xs:element minOccurs="0" name="InterestType" nillable="true" type="tns:InterestType" />
      <xs:element minOccurs="0" name="InterestTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="InterestVariation" nillable="true" type="tns:InterestVariation" />
      <xs:element minOccurs="0" name="InterestVariationID" type="xs:int" />
      <xs:element minOccurs="0" name="LegalDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObligationID" type="xs:int" />
      <xs:element minOccurs="0" name="Participant" nillable="true" type="tns:Participant" />
      <xs:element minOccurs="0" name="ParticipantID" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialObligation" nillable="true" type="tns:FinancialObligation" />
  <xs:complexType name="ArrayOfFinancialObligationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialObligationDetail" nillable="true" type="tns:FinancialObligationDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialObligationDetail" nillable="true" type="tns:ArrayOfFinancialObligationDetail" />
  <xs:complexType name="FinancialObligationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="FinancialObligation" nillable="true" type="tns:FinancialObligation" />
      <xs:element minOccurs="0" name="InstalmentValue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ObligationDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="ObligationID" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
      <xs:element minOccurs="0" name="WaivedPercentage" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialObligationDetail" nillable="true" type="tns:FinancialObligationDetail" />
  <xs:complexType name="InterestVariation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialInstrumentDetail" nillable="true" type="tns:ArrayOfFinancialInstrumentDetail" />
      <xs:element minOccurs="0" name="FinancialObligation" nillable="true" type="tns:ArrayOfFinancialObligation" />
      <xs:element minOccurs="0" name="InterestVariationID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterestVariation" nillable="true" type="tns:InterestVariation" />
  <xs:complexType name="Lenders">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialInstrument" nillable="true" type="tns:ArrayOfFinancialInstrument" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="website" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lenders" nillable="true" type="tns:Lenders" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correspondence" nillable="true" type="tns:ArrayOfCorrespondence" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deal" nillable="true" type="tns:Deal" />
      <xs:element minOccurs="0" name="DealID" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionDetail" nillable="true" type="tns:ArrayOfTransactionDetail" />
      <xs:element minOccurs="0" name="TransactionDocuments" nillable="true" type="tns:ArrayOfTransactionDocuments" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionStatus" nillable="true" type="tns:TransactionStatus" />
      <xs:element minOccurs="0" name="TransactionStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="tns:TransactionType" />
      <xs:element minOccurs="0" name="TransactionTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfCorrespondence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Correspondence" nillable="true" type="tns:Correspondence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorrespondence" nillable="true" type="tns:ArrayOfCorrespondence" />
  <xs:complexType name="Correspondence">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrespondenceGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Headers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="Html" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Incoming" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmtpStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:Transaction" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:long" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Correspondence" nillable="true" type="tns:Correspondence" />
  <xs:complexType name="ArrayOfTransactionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDetail" nillable="true" type="tns:TransactionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDetail" nillable="true" type="tns:ArrayOfTransactionDetail" />
  <xs:complexType name="TransactionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:Transaction" />
      <xs:element minOccurs="0" name="TransactionDetailGUID" type="ser:guid" />
      <xs:element minOccurs="0" name="TransactionDetailID" type="xs:long" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:long" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VariableType" nillable="true" type="tns:VariableType" />
      <xs:element minOccurs="0" name="VariableTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="WorkflowActionVarID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WorkflowActionVariable" nillable="true" type="tns:WorkflowActionVariable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDetail" nillable="true" type="tns:TransactionDetail" />
  <xs:complexType name="VariableType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultSortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionDetail" nillable="true" type="tns:ArrayOfTransactionDetail" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariableType" nillable="true" type="tns:VariableType" />
  <xs:complexType name="WorkflowActionVariable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionDetail" nillable="true" type="tns:ArrayOfTransactionDetail" />
      <xs:element minOccurs="0" name="WorkflowActionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WorkflowVariableID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowActionVariable" nillable="true" type="tns:WorkflowActionVariable" />
  <xs:complexType name="ArrayOfTransactionDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDocuments" nillable="true" type="tns:TransactionDocuments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDocuments" nillable="true" type="tns:ArrayOfTransactionDocuments" />
  <xs:complexType name="TransactionDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:Transaction" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDocuments" nillable="true" type="tns:TransactionDocuments" />
  <xs:complexType name="TransactionStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:ArrayOfTransaction" />
      <xs:element minOccurs="0" name="TransactionStatusID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionStatus" nillable="true" type="tns:TransactionStatus" />
  <xs:complexType name="TransactionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:ArrayOfTransaction" />
      <xs:element minOccurs="0" name="TransactionTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionType" nillable="true" type="tns:TransactionType" />
  <xs:complexType name="ArrayOfParticipantBankDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParticipantBankDetail" nillable="true" type="tns:ParticipantBankDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipantBankDetail" nillable="true" type="tns:ArrayOfParticipantBankDetail" />
  <xs:complexType name="ParticipantBankDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" type="xs:decimal" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="tns:AccountType" />
      <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="BankID" type="xs:int" />
      <xs:element minOccurs="0" name="BankorCreditUnion" nillable="true" type="tns:BankorCreditUnion" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Participant" nillable="true" type="tns:Participant" />
      <xs:element minOccurs="0" name="ParticipantID" type="xs:int" />
      <xs:element minOccurs="0" name="SortCode" type="xs:decimal" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParticipantBankDetail" nillable="true" type="tns:ParticipantBankDetail" />
  <xs:complexType name="AccountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParticipantBankDetail" nillable="true" type="tns:ArrayOfParticipantBankDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountType" nillable="true" type="tns:AccountType" />
  <xs:complexType name="ParticipantRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Participant" nillable="true" type="tns:ArrayOfParticipant" />
      <xs:element minOccurs="0" name="ParticipantRoleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParticipantRole" nillable="true" type="tns:ParticipantRole" />
  <xs:complexType name="ParticipantType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Participant" nillable="true" type="tns:ArrayOfParticipant" />
      <xs:element minOccurs="0" name="ParticipantTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParticipantType" nillable="true" type="tns:ParticipantType" />
</xs:schema>