REPS.UI/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54738/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54738/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54738/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:54738/UserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserIDByAspNetID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDByAspNetID" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserIDByAspNetID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDByAspNetIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyUserToken_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyUserToken" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyUserToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyUserTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitles" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddExistingUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExistingUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddExistingUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExistingUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetExistingUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingUserId" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetExistingUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingUserIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserInfo" message="tns:IUserService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserInfoResponse" message="tns:IUserService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIDByAspNetID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserIDByAspNetID" message="tns:IUserService_GetUserIDByAspNetID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserIDByAspNetIDResponse" message="tns:IUserService_GetUserIDByAspNetID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUsers" message="tns:IUserService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUsersResponse" message="tns:IUserService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ForgotPassword" message="tns:IUserService_ForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ForgotPasswordResponse" message="tns:IUserService_ForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUserProfile" message="tns:IUserService_UpdateUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserProfileResponse" message="tns:IUserService_UpdateUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ChangePassword" message="tns:IUserService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ChangePasswordResponse" message="tns:IUserService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUserToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/VerifyUserToken" message="tns:IUserService_VerifyUserToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/VerifyUserTokenResponse" message="tns:IUserService_VerifyUserToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetTitles" message="tns:IUserService_GetTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetTitlesResponse" message="tns:IUserService_GetTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUser" message="tns:IUserService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserResponse" message="tns:IUserService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUserInfo" message="tns:IUserService_UpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserInfoResponse" message="tns:IUserService_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/RemoveUser" message="tns:IUserService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RemoveUserResponse" message="tns:IUserService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExistingUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddExistingUser" message="tns:IUserService_AddExistingUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddExistingUserResponse" message="tns:IUserService_AddExistingUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExistingUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetExistingUserId" message="tns:IUserService_GetExistingUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetExistingUserIdResponse" message="tns:IUserService_GetExistingUserId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="UserService" />
</wsdl:definitions>