REPS.UI/Service References/BankServiceReference/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54738/BankService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54738/BankService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54738/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_GetAccountType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountType" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetAccountType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetBanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBanks" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetBanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBanksResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetBankDetailsPerParticipant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankDetailsPerParticipant" />
  </wsdl:message>
  <wsdl:message name="IBankService_GetBankDetailsPerParticipant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankDetailsPerParticipantResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="GetAccountType">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetAccountType" message="tns:IBankService_GetAccountType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetAccountTypeResponse" message="tns:IBankService_GetAccountType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBanks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetBanks" message="tns:IBankService_GetBanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetBanksResponse" message="tns:IBankService_GetBanks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankDetailsPerParticipant">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/GetBankDetailsPerParticipant" message="tns:IBankService_GetBankDetailsPerParticipant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/GetBankDetailsPerParticipantResponse" message="tns:IBankService_GetBankDetailsPerParticipant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="BankService" />
</wsdl:definitions>