REPS.UI/Service References/MortgageServiceReference/MortgageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MortgageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54738/MortgageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54738/MortgageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54738/MortgageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:54738/MortgageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMortgageService_GetMortgageLender_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMortgageLender" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetMortgageLender_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMortgageLenderResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetMortgageType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMortgageType" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetMortgageType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMortgageTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetMortgageInterestType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMortgageInterestType" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetMortgageInterestType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMortgageInterestTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_InsertFinancialInstrument_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFinancialInstrument" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_InsertFinancialInstrument_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFinancialInstrumentResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_UpdateFinancialInstrument_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFinancialInstrument" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_UpdateFinancialInstrument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFinancialInstrumentResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_InsertFinancialTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFinancialTransaction" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_InsertFinancialTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFinancialTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetAllMortgages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMortgages" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetAllMortgages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMortgagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_RemoveMortgages_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMortgages" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_RemoveMortgages_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMortgagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetSumValueMortgages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSumValueMortgages" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetSumValueMortgages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSumValueMortgagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetMortgageIDByMortgageGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMortgageIDByMortgageGUID" />
  </wsdl:message>
  <wsdl:message name="IMortgageService_GetMortgageIDByMortgageGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMortgageIDByMortgageGUIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IMortgageService">
    <wsdl:operation name="GetMortgageLender">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/GetMortgageLender" message="tns:IMortgageService_GetMortgageLender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/GetMortgageLenderResponse" message="tns:IMortgageService_GetMortgageLender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMortgageType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/GetMortgageType" message="tns:IMortgageService_GetMortgageType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/GetMortgageTypeResponse" message="tns:IMortgageService_GetMortgageType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMortgageInterestType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/GetMortgageInterestType" message="tns:IMortgageService_GetMortgageInterestType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/GetMortgageInterestTypeResponse" message="tns:IMortgageService_GetMortgageInterestType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFinancialInstrument">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/InsertFinancialInstrument" message="tns:IMortgageService_InsertFinancialInstrument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/InsertFinancialInstrumentResponse" message="tns:IMortgageService_InsertFinancialInstrument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFinancialInstrument">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/UpdateFinancialInstrument" message="tns:IMortgageService_UpdateFinancialInstrument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/UpdateFinancialInstrumentResponse" message="tns:IMortgageService_UpdateFinancialInstrument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFinancialTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/InsertFinancialTransaction" message="tns:IMortgageService_InsertFinancialTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/InsertFinancialTransactionResponse" message="tns:IMortgageService_InsertFinancialTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMortgages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/GetAllMortgages" message="tns:IMortgageService_GetAllMortgages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/GetAllMortgagesResponse" message="tns:IMortgageService_GetAllMortgages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMortgages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/RemoveMortgages" message="tns:IMortgageService_RemoveMortgages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/RemoveMortgagesResponse" message="tns:IMortgageService_RemoveMortgages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSumValueMortgages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/GetSumValueMortgages" message="tns:IMortgageService_GetSumValueMortgages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/GetSumValueMortgagesResponse" message="tns:IMortgageService_GetSumValueMortgages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMortgageIDByMortgageGUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMortgageService/GetMortgageIDByMortgageGUID" message="tns:IMortgageService_GetMortgageIDByMortgageGUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMortgageService/GetMortgageIDByMortgageGUIDResponse" message="tns:IMortgageService_GetMortgageIDByMortgageGUID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MortgageService" />
</wsdl:definitions>