REPS.UI/Service References/MortgageServiceReference/MortgageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54738/MortgageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:import schemaLocation="http://localhost:54738/MortgageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" />
  <xs:element name="GetMortgageLender">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMortgageLenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetMortgageLenderResult" nillable="true" type="q1:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMortgageType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMortgageTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetMortgageTypeResult" nillable="true" type="q2:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMortgageInterestType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMortgageInterestTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetMortgageInterestTypeResult" nillable="true" type="q3:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFinancialInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="obj" nillable="true" type="q4:FinancialInstrument" />
        <xs:element minOccurs="0" name="LenderID" type="xs:int" />
        <xs:element minOccurs="0" name="InstrumentTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="InterestTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="DealID" type="xs:int" />
        <xs:element minOccurs="0" name="aspNetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFinancialInstrumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="InsertFinancialInstrumentResult" nillable="true" type="q5:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFinancialInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="obj" nillable="true" type="q6:FinancialInstrument" />
        <xs:element minOccurs="0" name="LenderID" type="xs:int" />
        <xs:element minOccurs="0" name="InstrumentTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="InterestTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="DealID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFinancialInstrumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="UpdateFinancialInstrumentResult" nillable="true" type="q7:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFinancialTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/REPS.DATA.Entity" minOccurs="0" name="obj" nillable="true" type="q8:FinancialTransaction" />
        <xs:element minOccurs="0" name="DealID" type="xs:int" />
        <xs:element minOccurs="0" name="InstrumentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFinancialTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="InsertFinancialTransactionResult" nillable="true" type="q9:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMortgages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealID" type="xs:int" />
        <xs:element minOccurs="0" name="MortgageID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMortgagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetAllMortgagesResult" nillable="true" type="q10:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMortgages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstrumentID" type="xs:int" />
        <xs:element minOccurs="0" name="DealID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMortgagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="RemoveMortgagesResult" nillable="true" type="q11:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumValueMortgages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumValueMortgagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetSumValueMortgagesResult" nillable="true" type="q12:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMortgageIDByMortgageGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mortgageGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMortgageIDByMortgageGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetMortgageIDByMortgageGUIDResult" nillable="true" type="q13:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>