REPS.UI/Service References/HeaderTabsServiceReference/HeaderTabService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HeaderTabService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54738/HeaderTabService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54738/HeaderTabService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54738/HeaderTabService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHeaderTabService_InsertDeleteUserDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDeleteUserDeals" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_InsertDeleteUserDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDeleteUserDealsResponse" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_GetUserActiveDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserActiveDeals" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_GetUserActiveDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserActiveDealsResponse" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_GetUserNotificationBarActiveDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNotificationBarActiveDeals" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_GetUserNotificationBarActiveDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNotificationBarActiveDealsResponse" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_DeleteAllUserDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllUserDeals" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_DeleteAllUserDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllUserDealsResponse" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_ToggleHeaderTabsActivation_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleHeaderTabsActivation" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_ToggleHeaderTabsActivation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleHeaderTabsActivationResponse" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_InsertLastViewName_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLastViewName" />
  </wsdl:message>
  <wsdl:message name="IHeaderTabService_InsertLastViewName_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLastViewNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IHeaderTabService">
    <wsdl:operation name="InsertDeleteUserDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeaderTabService/InsertDeleteUserDeals" message="tns:IHeaderTabService_InsertDeleteUserDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeaderTabService/InsertDeleteUserDealsResponse" message="tns:IHeaderTabService_InsertDeleteUserDeals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserActiveDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeaderTabService/GetUserActiveDeals" message="tns:IHeaderTabService_GetUserActiveDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeaderTabService/GetUserActiveDealsResponse" message="tns:IHeaderTabService_GetUserActiveDeals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNotificationBarActiveDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeaderTabService/GetUserNotificationBarActiveDeals" message="tns:IHeaderTabService_GetUserNotificationBarActiveDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeaderTabService/GetUserNotificationBarActiveDealsResponse" message="tns:IHeaderTabService_GetUserNotificationBarActiveDeals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllUserDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeaderTabService/DeleteAllUserDeals" message="tns:IHeaderTabService_DeleteAllUserDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeaderTabService/DeleteAllUserDealsResponse" message="tns:IHeaderTabService_DeleteAllUserDeals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleHeaderTabsActivation">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeaderTabService/ToggleHeaderTabsActivation" message="tns:IHeaderTabService_ToggleHeaderTabsActivation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeaderTabService/ToggleHeaderTabsActivationResponse" message="tns:IHeaderTabService_ToggleHeaderTabsActivation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLastViewName">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeaderTabService/InsertLastViewName" message="tns:IHeaderTabService_InsertLastViewName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeaderTabService/InsertLastViewNameResponse" message="tns:IHeaderTabService_InsertLastViewName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="HeaderTabService" />
</wsdl:definitions>