REPS.UI/Service References/SearchWorksServiceReference/SearchWorksService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54738/SearchWorksService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="SearchWorksToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWorksTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="SearchWorksTokenResult" nillable="true" type="q1:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWorksGetDeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWorksGetDeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="SearchWorksGetDeedResult" nillable="true" type="q2:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchWorksTown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeedsOfficeIDs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchWorksTownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="GetSearchWorksTownResult" nillable="true" type="q3:CValidator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>